.page {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("../images/bg-tile.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

.fullscreen-height {
  height: 100%;
}
