.Footer {
	background-color: grey;
	height: 4%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
	font-size: .9rem;
}

.Footer .emoji {
	font-size: 1.2rem;
	margin-right: 1rem;
}
